.container {
  background-color: #E5E7EB;
  padding-top: 62px;
  margin-top: 40px;
  padding-bottom: 72px;
}
.container .main {
  max-width: 1486px;
  padding: 0 30px;
  margin: 0 auto;
}
.container .main__container-delivery-form {
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
  margin-bottom: 72px;
}
.container .main__block-delivery {
  width: 100%;
}
.container .main__title {
  font-weight: 900;
  font-size: 36px;
  max-width: 706px;
  text-align: start;
}
.container .main__text {
  max-width: 756px;
  font-size: 20px;
  font-weight: 400;
}
.container .main__img {
  background-image: url("../images/img/rectangle.png");
  width: 100%;
  height: 352px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}
.container .main__block-forms {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 16px;
  padding-bottom: 30px;
}
.container .main__title-calculstor {
  max-width: 436px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  padding-top: 40px;
  padding: 20px 20px 0 20px;
}
.container .main__text-counting {
  max-width: 358px;
  font-weight: 400;
  text-align: center;
  padding: 0 20px;
}
.container .main__form {
  margin-top: 28px;
  text-align: center;
  display: grid;
  gap: 24px;
  margin-bottom: 28px;
  grid-template-areas: "main__name main__name" "main__email main__phone" "main__square main__weight" "main__country main__sity" "main__area main__sity-delivery";
}
.container .main__name {
  width: 496px;
  height: 48px;
  border: 2px solid #000;
  border-radius: 4px;
  padding-left: 11px;
  grid-area: main__name;
}
.container .main__input {
  height: 48px;
  border: 2px solid #000;
  border-radius: 4px;
  padding-left: 11px;
}
.container .main__email {
  grid-area: main__email;
}
.container .main__phone {
  grid-area: main__phone;
}
.container .main__square {
  grid-area: main__square;
}
.container .main__weight {
  grid-area: main__weight;
}
.container .main__country {
  grid-area: main__country;
}
.container .main__sity {
  grid-area: main__sity;
}
.container .main__area {
  grid-area: main__area;
}
.container .main__sity-delivery {
  grid-area: main__sity-delivery;
}
.container .main__button {
  width: 496px;
  height: 44px;
  background-color: #8B5CF6;
  border: none;
  font-weight: 700;
  color: #fff;
  border-radius: 4px;
}
.container .main__advantages {
  margin-bottom: 80px;
}
.container .main__title__advantages {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 42px;
}
.container .main__block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
}
.container .main__block-img {
  display: flex;
  column-gap: 21px;
}
.container .main__image {
  width: 136px;
  height: 136px;
}
.container .main__title-advantages {
  font-size: 24px;
  font-weight: 900;
}
.container .main__text-advantages {
  font-size: 14px;
  font-weight: 400;
}
.container .main__guarantees {
  margin-bottom: 76px;
}
.container .main__guarantees-title {
  margin: 0;
  margin-bottom: 29px;
}
.container .main__title-guarantees {
  max-width: 756px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
.container .main__img-title {
  display: flex;
}
.container .main__btn-documents {
  width: 245px;
  border-radius: 12px;
  padding: 16px, 28px, 16px, 28px;
}
.container .main__title-certificate {
  text-align: center;
}
.container .main__btn-show-documents {
  display: flex;
  justify-content: center;
}
.container .main__reviews {
  margin-bottom: 72px;
}
.container .main__title-reviews {
  text-align: center;
  font-weight: 900;
  font-size: 30px;
}
.container .main__arrow-block {
  display: flex;
  column-gap: 24px;
}
.container .main__blocks {
  background-color: #fff;
  padding: 41px 52px 17px 41px;
  border-radius: 16px;
  max-width: 626px;
}
.container .main__name-one {
  font-weight: 300;
  font-size: 24px;
  color: #6B7280;
}
.container .main__text {
  font-weight: 700;
  font-size: 24px;
}
.container .main__name-img {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .main__lost-forms {
  background-color: #fff;
  padding: 70px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 24px;
  border-radius: 16px;
}
.container .main__title-questions {
  font-weight: 900;
  font-size: 30px;
  margin: 0;
}
.container .main__form-questions {
  max-width: 497px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}
.container .main__lost-input {
  width: 236px;
  height: 48px;
  border-radius: 4px;
  border: 2px solid #000;
  padding-left: 10px;
}
.container .main__comments-bottom {
  width: 497px;
  height: 150px;
  border-radius: 4px;
  border: 2px solid #000;
  padding: 10px 0 0 10px;
}
.container .main ::placeholder {
  color: #9CA3AF;
}

/*# sourceMappingURL=body.css.map */
