* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Formular";
}

.header {
  max-width: 1486px;
  padding: 0 30px;
  margin: 0 auto;
}
.header__top {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.header__icon-title {
  display: flex;
  align-items: center;
}
.header__icon {
  width: 50px;
  height: 74px;
}
.header__title {
  font-size: 24px;
  font-weight: 900;
  margin: 0;
}
.header__text-num {
  display: flex;
  column-gap: 12px;
}
.header__texts {
  text-align: right;
  border-right: 2px solid #A78BFA;
  padding-right: 12px;
}
.header__text {
  line-height: 8px;
  font-weight: 400;
}
.header__num {
  font-size: 30px;
  font-weight: 900;
  margin: 0;
}
.header__txt {
  font-size: 20px;
  font-weight: 300;
}
.header__bottom {
  display: flex;
  justify-content: space-between;
}
.header__lists {
  display: flex;
  list-style-type: none;
  column-gap: 24px;
  font-weight: 700;
}
.header__lists:first-child {
  padding: 0;
}
.header__li-1 {
  color: #8B5CF6;
  border-bottom: 2px dashed #8B5CF6;
}
.header__li-3 {
  color: #8B5CF6;
}
.header__button {
  width: 196px;
  height: 44px;
  border-radius: 4px;
  border: none;
  background-color: #8B5CF6;
  color: #F9FAFB;
  font-weight: 700;
}

.mobile-navigation {
  display: none;
}

.mobile-navigation-burger {
  display: flex;
  justify-content: flex-end;
  margin-top: -64px;
  margin-right: 20px;
}

.mobile-navigation-toggler {
  display: none;
}

.mobile-navigation-visin {
  transition: all 0.33s;
  margin-top: 40px;
  z-index: 0;
  visibility: hidden;
  position: fixed;
  right: 0;
  left: 0;
  translate: 0 -100%;
  transition: all 0.3s;
  padding: 0 20px;
}

.mobile-navigation-toggler:checked + .mobile-navigation-visin {
  translate: 0;
  visibility: visible;
  background-color: white;
}

.header__texts-three {
  display: flex;
  font-size: 13px;
  flex-wrap: wrap;
}

.mobile-navigation-close {
  width: 20px;
}

.container {
  background-color: #E5E7EB;
  padding-top: 62px;
  margin-top: 40px;
}
.container .main {
  max-width: 1486px;
  padding: 0 30px;
  margin: 0 auto;
}
.container .main__container-delivery-form {
  display: flex;
  justify-content: space-between;
  column-gap: 24px;
  margin-bottom: 72px;
}
.container .main__block-delivery {
  width: 100%;
}
.container .main__title {
  font-weight: 900;
  font-size: 36px;
  max-width: 706px;
  text-align: start;
}
.container .main__text {
  max-width: 756px;
  font-size: 20px;
  font-weight: 400;
}
.container .main__img {
  background-image: url("../images/img/rectangle.png");
  width: 100%;
  height: 352px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}
.container .main__block-forms {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  border-radius: 16px;
}
.container .main__title-calculstor {
  max-width: 436px;
  text-align: center;
  font-size: 30px;
  font-weight: 700;
  margin: 0;
  padding-top: 40px;
  padding: 20px 20px 0 20px;
}
.container .main__text-counting {
  max-width: 358px;
  font-weight: 400;
  text-align: center;
  padding: 0 20px;
}
.container .main__form {
  margin-top: 28px;
  text-align: center;
  display: grid;
  gap: 24px;
  margin-bottom: 28px;
  grid-template-areas: "main__name main__name" "main__email main__phone" "main__square main__weight" "main__country main__sity" "main__area main__sity-delivery";
}
.container .main__name {
  width: 496px;
  height: 48px;
  border: 2px solid #000;
  border-radius: 4px;
  padding-left: 11px;
  grid-area: main__name;
}
.container .main__input {
  height: 48px;
  border: 2px solid #000;
  border-radius: 4px;
  padding-left: 11px;
}
.container .main__email {
  grid-area: main__email;
}
.container .main__phone {
  grid-area: main__phone;
}
.container .main__square {
  grid-area: main__square;
}
.container .main__weight {
  grid-area: main__weight;
}
.container .main__country {
  grid-area: main__country;
}
.container .main__sity {
  grid-area: main__sity;
}
.container .main__area {
  grid-area: main__area;
}
.container .main__sity-delivery {
  grid-area: main__sity-delivery;
}
.container .main__button {
  width: 496px;
  height: 44px;
  background-color: #8B5CF6;
  border: none;
  font-weight: 700;
  color: #fff;
  border-radius: 4px;
}
.container .main__title__advantages {
  text-align: center;
  font-size: 30px;
  font-weight: 900;
  margin-bottom: 42px;
}
.container .main__block {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 60px;
}
.container .main__block-img {
  display: flex;
  column-gap: 21px;
}
.container .main__image {
  width: 136px;
  height: 136px;
}
.container .main__title-advantages {
  font-size: 24px;
  font-weight: 900;
}
.container .main__text-advantages {
  font-size: 14px;
  font-weight: 400;
}

@media (max-width: 3000px) {
  .header__texts-two {
    display: none;
  }
  .header__title-two {
    display: none;
  }
}
@media (max-width: 1372px) {
  .container .main__container-delivery-form {
    flex-direction: column;
  }
  .container .main__block-delivery {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 28px;
  }
  .container .main__block {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 1010px) {
  .header__texts {
    display: none;
  }
  .header__bottom {
    border: 2px solid #A78BFA;
    border-left: none;
    border-right: none;
    padding-top: 11px;
  }
  .header__texts-two {
    display: block;
    display: flex;
    justify-content: center;
  }
  .header__text-two {
    width: 232px;
    text-align: center;
  }
  .container .main__block {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 780px) {
  .header__top {
    margin: 0;
    align-items: center;
    padding: 20px 0;
  }
  .header__texts-two {
    padding-bottom: 30px;
  }
  .header__texts {
    display: none;
  }
  .header__txt {
    display: none;
  }
  .header__bottom {
    display: none;
  }
  .header__texts-two {
    display: none;
  }
  .header__num {
    font-size: 20px;
    padding-right: 30px;
  }
  .header__bottom-two {
    display: block;
    display: flex;
    justify-content: space-between;
    border: 2px solid #A78BFA;
    border-left: none;
    border-right: none;
    padding-top: 11px;
  }
  .mobile-navigation {
    display: block;
  }
}
@media (max-width: 597px) {
  .header__icon {
    width: 40px;
  }
  .header__title {
    font-size: 19px;
  }
  .header__num {
    font-size: 16px;
  }
  .header__lists {
    font-size: 12px;
    column-gap: 8px;
  }
  .header__button {
    width: 156px;
    height: 33px;
  }
  .container .main__name {
    width: 396px;
    height: 48px;
  }
  .container .main__input {
    height: 48px;
  }
  .container .main__button {
    width: 396px;
  }
  .container .main__title__advantages {
    font-size: 25px;
  }
  .container .main__block-img {
    flex-direction: column;
    align-items: center;
  }
  .container .main__title-advantages {
    text-align: center;
  }
  .container .main__text-advantages {
    text-align: center;
  }
}
@media (max-width: 490px) {
  .header {
    padding: 0 20px 0 10px;
  }
  .header__title {
    font-size: 15px;
    display: none;
  }
  .header__title-two {
    display: block;
    font-size: 15px;
  }
  .header__num {
    font-size: 12px;
  }
  .header__lists {
    font-size: 8px;
  }
  .header__button {
    width: 100px;
    height: 22px;
    font-size: 9px;
  }
  .container {
    padding-top: 0;
  }
  .container .main__name {
    width: 296px;
    height: 48px;
  }
  .container .main__input {
    width: 135px;
    height: 48px;
  }
  .container .main__button {
    width: 296px;
  }
}
@media (max-width: 398px) {
  .header__title {
    display: none;
  }
  .container .main__name {
    width: 296px;
    height: 48px;
  }
  .container .main__input {
    width: 135px;
    height: 48px;
  }
  .container .main__button {
    width: 296px;
  }
}
@media (max-width: 377px) {
  .container .main__name {
    width: 234px;
    height: 38px;
  }
  .container .main__input {
    width: 105px;
    height: 38px;
  }
  .container .main__button {
    width: 234px;
  }
}

/*# sourceMappingURL=main.css.map */
