@media (max-width: 3000px) {
    .header {
        &__texts-two {
            display: none;
        }
        &__title-two {
            display: none;
        }
    }
}

@media (max-width: 1495px) {
    .container {
        .main {
            &__img-title {
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            &__title-certificate {
                font-size: 16px;
            }
            &__img-sertificate {
                width: 320px;
            }
        }
    }
}

@media (max-width: 1372px) {
    .container {
        .main {
            &__container-delivery-form {
                flex-direction: column;
            }
            &__block-delivery {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 28px;
            }
            &__block {
                grid-template-columns: 1fr 1fr;
            }
        }
    }
}

@media (max-width: 1010px) {
    .header {
        &__texts {
            display: none;
        }
        &__bottom {
            border: 2px solid #A78BFA;
            border-left: none;
            border-right: none;
            padding-top: 11px;
        }
        &__texts-two {
            display: block;
            display: flex;
            justify-content: center;
        }
        &__text-two {
            width: 232px;
            text-align: center;
        }
    }
    .container {
        .main {
            &__block {
                grid-template-columns: 1fr;
            }
            &__arrow-block {
                display: flex;
                justify-content: center;
            }
            &__blocks-Alex {
                display: none;
            }
        }
    }
}

@media (max-width: 780px) {
    .header {
        &__top {
            margin: 0;
            align-items: center;
            padding: 20px 0;
        }
        &__texts-two {
            padding-bottom: 30px;
        }
        &__texts {
            display: none;
        }
        &__txt {
            display: none;
        }
        &__bottom {
            display: none;
        }
        &__texts-two {
            display: none;
        }
        &__num {
            font-size: 20px;
            padding-right: 30px;
        }
        &__bottom-two {
            display: block;
            display: flex;
            justify-content: space-between;
            border: 2px solid #A78BFA;
            border-left: none;
            border-right: none;
            padding-top: 11px;
        }
    }
    .mobile-navigation {
        display: block;
    }
}

@media (max-width: 597px) {
    .header {
        &__icon {
            width: 40px;
        }
        &__title {
            font-size: 19px;
        }
        &__num {
            font-size: 16px;
        }
        &__lists {
            font-size: 12px;
            column-gap: 8px;
        }
        &__button {
            width: 156px;
            height: 33px;
        }
    }
    .container {
        .main {
            &__name {
                width: 396px;
                height: 48px;
            }
            &__input {
                height: 48px;
            }
            &__button {
                width: 396px;
            }
            &__title__advantages {
                font-size: 25px;
            }
            &__block-img {
                flex-direction: column;
                align-items: center;
            }
            &__title-advantages {
                text-align: center;
            }
            &__text-advantages {
                text-align: center;
            }
            &__blocks {
                padding: 29px;
            }
            &__text {
                font-size: 15px;
            }
            &__name-one {
                font-size: 17px;
            }
            &__commas {
                width: 35px;
            }
            &__arrow-right {
                width: 25px;
            }
            &__arrow-left {
                width: 25px;
            }
            &__arrow-block {
                column-gap: 2px;
            }
            &__blocks {
                padding: 10px 29px;
            }
        }
    }
}

@media (max-width: 490px) {
    .header {
        padding: 0 20px 0 10px;
        &__title {
            font-size: 15px;
            display: none;
        }
        &__title-two {
            display: block;
            font-size: 15px;
        }
        &__num {
            font-size: 12px;
        }
        &__lists {
            font-size: 8px;
        }
        &__button {
            width: 100px;
            height: 22px;
            font-size: 9px;
        }
    }
    .container {
        padding-top: 0;
        .main {
            &__name {
                width: 296px;
                height: 48px;
            }
            &__input {
                width: 135px;
                height: 48px;
            }
            &__button {
                width: 296px;
            }
        }
    }
}

@media (max-width: 398px) {
    .header {
        &__title {
            display: none;
        }
    }
    .container {
        .main {
            &__name {
                width: 296px;
                height: 48px;
            }
            &__input {
                width: 135px;
                height: 48px;
            }
            &__button {
                width: 296px;
            }
        }
    }
}

@media (max-width: 377px) {
    .container {
        .main {
            &__name {
                width: 234px;
                height: 38px;
            }
            &__input {
                width: 105px;
                height: 38px;
            }
            &__button {
                width: 234px;
            }
        }
    }
}