.mobile-navigation {
    display: none;
}
.contain {
}

.mobile-navigation-burger {
    display: flex;
    justify-content: flex-end;
    margin-top: -64px;
    margin-right: 20px;

}

// .mobile-navigation-close {
//     display: flex;
//     justify-content: flex-end;
//     margin-top: -64px;
//     margin-right: 20px;
// }


.mobile-navigation-toggler {
    display: none;
}
.header__bottom-two {
}

.mobile-navigation-visin {
    transition: all 0.33s;
    margin-top: 40px;
    z-index: 0;
    visibility: hidden;
    position: fixed;
    right: 0;
    left: 0;
    translate: 0 -100%;
    transition: all 0.3s;
    padding: 0 20px;
}

.mobile-navigation-toggler:checked + .mobile-navigation-visin {
    translate: 0;
    visibility: visible;
    background-color: white;
}

.header__list {
}
.header__lists {
}
.header__li {
}
.header__li-1 {
}
.header__li-3 {
}
.header__btn {
}
.header__button {
}
.header__texts-three {
    display: flex;
    font-size: 13px;
    flex-wrap: wrap;
}
.header__text-two {
}
.header__text {
}
.mobile-navigation-close {
    width: 20px;
}